<a href="https://colab.research.google.com/github/rajatrh/MTA-Schedule-Delays/blob/master/Crowd_Sourced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from dateutil import tz
import math

!pip install gmplot

In [0]:
import gmplot # For plotting

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df_crowd_source = pd.read_csv('/content/drive/My Drive/523 524/CrowdsourcingLocationLog.csv')
df_stops = pd.read_csv('/content/drive/My Drive/523 524/meta_data/stops_lirr.csv')
df_shapes = pd.read_csv('/content/drive/My Drive/523 524/meta_data/shapes_lirr.csv')
df_times = pd.read_csv('/content/drive/My Drive/523 524/meta_data/stop_times_lirr.csv')

In [8]:
df_crowd_source.shape

(1486295, 6)

In [9]:
df_crowd_source.head(1)

                                 userId  ... horizontalAccuracy
0  d97ea50e-6dff-40e8-93db-19205a19b976  ...               10.0

[1 rows x 6 columns]

In [10]:
df_crowd_source['horizontalAccuracy'].describe()

count    1.486295e+06
mean     1.533794e+02
std      1.013767e+03
min      7.662164e-01
25%      1.000000e+01
50%      1.600242e+01
75%      3.456203e+01
max      1.490000e+05
Name: horizontalAccuracy, dtype: float64

In [11]:
df_crowd_source['userId'].value_counts()

615d12dc-e77c-4aef-a953-007249f8492e    18963
a1bb8718-6999-4892-95fb-66c4601fc891    16155
7f72fd31-0cbc-46cd-8c59-63928eb56ed5    15435
a0bc9553-c4b0-445d-8b88-ec63c56ba15e    14729
22e8ae9b-9dd8-4657-8ee6-c9a01e8fce21    14117
                                        ...
58f96091-c425-4f15-8321-9a95b1849588        1
d2d9a08f-2696-4732-9c69-c553f494c73b        1
5a0825d1-d3c1-4929-8be6-a7876932c620        1
6fb58cb3-9de9-438a-9dd3-418eb6b9f1a8        1
06abee28-67ff-4ad5-bb6f-633e445750db        1
Name: userId, Length: 13423, dtype: int64

Consider the users with atleast 2 entries.

In [0]:
# Consider the users with atleast 2 entries.
# df_crowd_source['userId'].value_counts().loc[lambda x: x>1].index
by_userOccurence = df_crowd_source.groupby('userId').aggregate(np.count_nonzero)
df_crowd_source_2 = df_crowd_source[df_crowd_source['userId'].isin(by_userOccurence[by_userOccurence._created_at >= 2].index)]
df_crowd_source_2.groupby('userId').aggregate(np.count_nonzero)

In [13]:
df_crowd_source_2.head(1)

                                 userId  ... horizontalAccuracy
0  d97ea50e-6dff-40e8-93db-19205a19b976  ...               10.0

[1 rows x 6 columns]

In [0]:
def convertToDate(dateTime):
  cur = pd.to_datetime(dateTime, errors='coerce')
  cur.tz_localize(None)
  return cur.date()

In [0]:
df_crowd_source_2['_created_at'] = df_crowd_source_2.apply(lambda x: convertToDate(x['_created_at']),axis=1)

In [0]:
df_crowd_source_2['latlong'] = df_crowd_source_2.apply(lambda x: str(x['latitude']) + ','+ str(x['longitude']),axis=1)

In [0]:
sample_data = df_crowd_source_2[df_crowd_source_2['userId'] == 'd97ea50e-6dff-40e8-93db-19205a19b976']
sample_data.drop(['latitude', 'longitude'], axis=1)

Haversine Formula

In [0]:
# Haversine Formula
def distance(lat1, lon1, lat2, lon2):
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

##Sampling with top 1000

Approach 1 - Group by and get it done

In [0]:
grouped_latlong = sample_data.groupby([
    pd.Grouper('userId'),
    pd.Grouper('_created_at')]
)['latlong'].apply(lambda tags: ':'.join(tags))

In [27]:
#pd.DataFrame({'userId': grouped_latlong.index[0], 'date':grouped_latlong.index[1], 'lonlat':grouped_latlong.values})
grouped_latlong

userId                                _created_at
d97ea50e-6dff-40e8-93db-19205a19b976  2019-07-01     40.74121723420987,-73.6370158475578:40.7403093...
                                      2019-07-03     40.75133938811789,-73.49620867527415:40.745876...
                                      2019-07-07     40.75465715494077,-73.35918174132085:40.733143...
Name: latlong, dtype: object

Using GMaps to visualize

In [31]:
i = 0
for userId, _created_at in grouped_latlong.iteritems():
  lat = []
  lon = []
  for latlon in grouped_latlong.get(userId, _created_at).split(':'):
    lat.append(float(latlon.split(',')[0]))
    lon.append(float(latlon.split(',')[1]))
  print(len(lat))
  createMap(lat, lon, i)  #Create Map
  #checkPath(lat, lon)
  i = i+1

6
27
13

In [0]:
def createMap(lat_list, lon_list, id):
  #apikey=""
  gmap3 = gmplot.GoogleMapPlotter(40.788905, -73.136590, 9) 
  gmap3.scatter( lat_list, lon_list, 'yellow', 
                              size = 40, marker = False )
  gmap3.plot(lat_list, lon_list,  
           'red', edge_width = 2)
  #gmap3.apikey = "AIzaSyDeRNMnZ__VnQDiATiuz4kPjF_c9r1kWe8"
  gmap3.draw(str(id) + ".html")

In [0]:
df_crowd_source_2[df_crowd_source_2['userId'] == 'd97ea50e-6dff-40e8-93db-19205a19b976']