<a href="https://colab.research.google.com/github/rajatrh/MTA-Schedule-Delays/blob/master/MTA_STATIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy as sc
import seaborn as sb
from sklearn import preprocessing
import json
import csv
import requests

In [0]:
url = "http://web.mta.info/developers/data/lirr/lirr_gtfs.json"
response = requests.request("GET", url)

In [0]:
json_parsed = json.loads(response.text)

In [7]:
json_parsed.keys()

dict_keys(['agency_id', 'feed_version', 'revised', 'gtfs'])

In [11]:
json_parsed['gtfs'].keys()

dict_keys(['feed_info', 'agency', 'stops', 'routes', 'shapes', 'trips', 'stop_times', 'calendar_dates'])

##Stops - LIRR

In [39]:
json_parsed['gtfs']['stops'][0].keys()

dict_keys(['stop_id', 'stop_name', 'stop_desc', 'stop_lat', 'stop_lon', 'stop_url', 'wheelchair_boarding'])

In [0]:
df_stops = pd.DataFrame(columns=json_parsed['gtfs']['stops'][0].keys())

In [0]:
for stop in json_parsed['gtfs']['stops']:
  list_entries = []
  for key in stop.keys():
    list_entries.append(stop[key])
  df_stops = df_stops.append(pd.Series(list_entries, index=df_stops.columns ), ignore_index=True)

In [0]:
df_stops.to_csv('stops_lirr.csv')

##Routes - LIRR

In [52]:
json_parsed['gtfs']['routes'][0].keys()

dict_keys(['route_id', 'route_short_name', 'route_long_name', 'route_type', 'route_color', 'route_text_color'])

In [0]:
df_routes = pd.DataFrame(columns=json_parsed['gtfs']['routes'][0].keys())

In [0]:
for route in json_parsed['gtfs']['routes']:
  list_entries = []
  for key in route.keys():
    list_entries.append(route[key])
  df_routes = df_routes.append(pd.Series(list_entries, index=df_routes.columns ), ignore_index=True)

In [0]:
df_routes.to_csv('routes_lirr.csv')

##Shapes - LIRR - Not Needed

In [57]:
json_parsed['gtfs']['shapes'][0].keys()

dict_keys(['shape_id', 'shape_pt_lat', 'shape_pt_lon', 'shape_pt_sequence'])

In [0]:
df_shapes = pd.DataFrame(columns=json_parsed['gtfs']['shapes'][0].keys())

In [0]:
for shape in json_parsed['gtfs']['shapes']:
  list_entries = []
  for key in shape.keys():
    list_entries.append(shape[key])
  df_shapes = df_shapes.append(pd.Series(list_entries, index=df_shapes.columns ), ignore_index=True)

In [62]:
len(json_parsed['gtfs']['shapes'])

90041

##Trips - LIRR

In [63]:
json_parsed['gtfs']['trips'][0].keys()

dict_keys(['route_id', 'service_id', 'trip_id', 'trip_headsign', 'trip_short_name', 'direction_id', 'shape_id'])

In [0]:
df_trips = pd.DataFrame(columns=json_parsed['gtfs']['trips'][0].keys())

In [65]:
len(json_parsed['gtfs']['trips'])

2618

In [0]:
for trip in json_parsed['gtfs']['trips']:
  list_entries = []
  for key in trip.keys():
    list_entries.append(trip[key])
  df_trips = df_trips.append(pd.Series(list_entries, index=df_trips.columns ), ignore_index=True)

In [0]:
df_trips.to_csv('trips_lirr.csv')

##Stop Times - LIRR

In [69]:
json_parsed['gtfs']['stop_times'][0].keys()

dict_keys(['trip_id', 'arrival_time', 'departure_time', 'stop_id', 'stop_sequence'])

In [0]:
df_stop_times = pd.DataFrame(columns=json_parsed['gtfs']['stop_times'][0].keys())

In [71]:
len(json_parsed['gtfs']['stop_times'])

29372

In [0]:
i=0
for stop_time in json_parsed['gtfs']['stop_times']:
  if i% 1000 == 0:
    print(i)
  list_entries = []
  for key in stop_time.keys():
    list_entries.append(stop_time[key])
  i=i+1
  df_stop_times = df_stop_times.append(pd.Series(list_entries, index=df_stop_times.columns ), ignore_index=True)

In [0]:
df_stop_times.to_csv('stop_times_lirr.csv')

In [89]:
df_stop_times[df_stop_times['stop_id'] == '14']

                   trip_id arrival_time departure_time stop_id stop_sequence
3166          GO505_20_600     01:32:00       01:32:00      14             7
3174        GO505_20_600_1     01:31:00       01:31:00      14             7
3177          GO505_20_601     04:28:00       04:28:00      14             2
3195          GO505_20_602     02:14:00       02:14:00      14            12
3198          GO505_20_603     05:05:00       05:05:00      14             2
...                    ...          ...            ...     ...           ...
24529  APP_MLX_WEST_1_6685     18:25:00       18:25:00      14             2
24551  APP_MLX_WEST_1_6686     21:42:00       21:42:00      14            11
24554  APP_MLX_WEST_1_6687     20:25:00       20:25:00      14             2
24576  APP_MLX_WEST_1_6688     23:42:00       23:42:00      14            11
24579  APP_MLX_WEST_1_6689     22:25:00       22:25:00      14             2

[109 rows x 5 columns]

In [87]:
df_stop_times['stop_id'].dtype

dtype('O')

##Calendar Dates - LIRR

In [76]:
json_parsed['gtfs']['calendar_dates'][0].keys()

dict_keys(['service_id', 'date', 'exception_type'])

In [0]:
df_calendar_dates = pd.DataFrame(columns=json_parsed['gtfs']['calendar_dates'][0].keys())

In [78]:
len(json_parsed['gtfs']['calendar_dates'])

337

In [0]:
for date in json_parsed['gtfs']['calendar_dates']:
  list_entries = []
  for key in date.keys():
    list_entries.append(date[key])
  df_calendar_dates = df_calendar_dates.append(pd.Series(list_entries, index=df_calendar_dates.columns ), ignore_index=True)

In [0]:
df_calendar_dates.to_csv('calendar_dates_lirr.csv')